body {
  background-color: #7FAA94;
  background-color: #d4d6d8;
  /*color: #216241;
  font-family: monospace;*/
}

a:link {
  color: rebeccapurple;
  /*color: #7B882D;*/
}

a:visited {
  color: black;
  /*color: #578F73;*/
}
