<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Josefin+Sans|Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand gloria-font" href="/">Blogz</a>

      <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if session['username'] %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{session['username']}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/user/{{session['username']}}">My Posts</a>
              <a class="dropdown-item" href="/user/{{session['username']}}/newpost">New Post</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/{{session['username']}}/newpost"><span id="newpost">New Post</span></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register" data-toggle="modal" data-target="#myModal">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
        </ul>
        <form action="/search" method="get" class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" name="query" placeholder="looking for something?">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Sign up with <span class="logo">Blogz</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modalBody">
            {% if not session["username"] %}
            <form class="" action="/register/ajax" method="post" id="registrationForm">
              <label for="username" class="px-1">Username</label><input type="text" name="username" value="" required><br>
              <label for="password" class="px-1">Password</label><input type="password" name="password" value="" required></br>
              <label for="password-confirm" class="px-2">Confirm Password</label><input type="password" name="password-confirm" value="" required></br>

            {% else %}
              (You know you already have an account... right?)
            {% endif %}
          </div>
          <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Register</button></form>
          </div>
        </div>
      </div>
    </div>

    <footer class="fixed-bottom">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes float-right hidden">
            {% for category, message in messages %}
              {% if category == "error" %}
                <li class="{{category}} flash clearfix d-block">{{ category|upper }}: {{ message }}<span class="remove badge badge-danger ml-2 py-1">X</span></li>
              {% elif category == "success" %}
                <li class="{{category}} flash clearfix d-block">{{ category|upper }}: {{ message }}<span class="remove badge badge-success ml-2 py-1">X</span></li>
              {% elif category == "warning" %}
                <li class="{{category}} flash clearfix d-block">{{ category|upper }}: {{ message }}<span class="remove badge badge-warning ml-2 py-1">X</span></li>
              {% else %}
                <li class="{{category}} flash clearfix d-block">{{ category|upper }}: {{ message }}<span class="remove badge badge-info ml-2 py-1">X</span></li>
              {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </footer>

    <script>
    $(function() {
      console.log( "jQuery standing by!" );
      $('.flashes').fadeIn(1200);
      $('span.remove').click(function() {
        $(this).closest('li').fadeOut( "slow", function() {
            $(this).remove();
        });;
      });

      // Attach a submit handler to the form

      $( "#registrationForm" ).submit(function( event ) {

        // Stop form from submitting normally
        event.preventDefault();

        // Get some values from elements on the page:
        var $form = $( this ),
          username = $form.find( "input[name='username']" ).val(),
          pword = $form.find( "input[name='password']" ).val(),
          pwordConf = $form.find( "input[name='password-confirm']" ).val(),
          url = $form.attr( "action" );

        // Send the data using post
        var posting = $.post( url, { "username": username,
                                     "password": pword,
                                     "password-confirm": pwordConf } );


        posting.done(function( data ) {
          $modalBody = $('#modalBody');
          $modalFooter = $('#modalFooter');
          $modalBody.empty();
          $modalFooter.empty();
          contentJSON = JSON.parse(data)
          $modalBody.html("<h1>Success!</h1><p>You have successfully signed up as <span class='font-italic px-1'>" + contentJSON.name + "</span>!  Why not log in and write your first <span class='logo'>Blogz</span> post???</p><form action='/login' method='post'><label for='username' required>Username</label><input type='text' name='username'><br><label for='password'>Password</label><input type='password' name='password' required><br><button type'submit'>Log In</button></form>");
          footerHTML = `
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cool.</button>
          `
          $modalFooter.html(footerHTML);
          console.log(data);
          //alert("Success?!?!?");
        });
        // Put the results in a div
        //posting.done(function( data ) {
        //  var content = $( data ).find( "#content" );
        //  $( "#result" ).empty().append( content );
        //});
      });
    });


    </script>
  </body>
</html>
