{% extends 'base.html' %}

{% block content %}

{% if post %}
<div class="row">
  <div class="col-sm-8 blog-main">
    <h2>{{post.title}}</h2>
    <h5>by <a href="/user/{{post.owner.username}}">{{post.owner.username}}</a></h5>
    <p>{{post.content}}</p>
    {% if post.owner.username == session['username'] %}
      {% if post.published == False %}
        <form class="mb-2" action="/post/{{post.id}}/update" method="post">
          <input type="submit" name="publish" value="PUBLISH" class="btn-primary px-3">
        </form>
      {% else %}
      <form class="mb-2" action="/post/{{post.id}}/update" method="post">
        <input type="submit" name="publish" value="UNPUBLISH" class="btn-warning">
      </form>
      {% endif %}
    {% endif %}
    <footer class="midgrey font-italic py-2">post viewed {{post.visits}} times</footer>
  </div>
  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <h4>More posts by {{post.owner.username}}</h4>
    <ul>
    {% for otherpost in post.owner.posts %}
      {% if not otherpost.id == post.id %}
        <li><a href="/post/{{post.id}}">{{otherpost.title}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}
