{% extends 'base.html' %}

{% block content %}

{% if post %}
  <h2>{{post.title}}</h2>
  <h5>by <a href="/user/{{post.owner.username}}">{{post.owner.username}}</a></h5>
  <p>{{post.content}}</p>
  {% if post.owner.username == session['username'] %}
    {% if post.published == False %}
      <form class="" action="/post/{{post.id}}/update" method="post">
        <input type="submit" name="publish" value="PUBLISH">
      </form>
    {% else %}
    <form class="" action="/post/{{post.id}}/update" method="post">
      <input type="submit" name="publish" value="UNPUBLISH">
    </form>
    {% endif %}
  {% endif %}
  <footer>post viewed {{post.visits}} times</footer>
{% endif %}

{% endblock %}
